<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Testss">
    <test verbose="2" preserve-order="true" name="/Users/jj0921/Desktop/bootcampProject">
        <classes>
            <class name = "Tests"></class>
        </classes>
    </test>
</suite>